* {
  box-sizing: border-box;
  outline: 1px dashed lightgrey;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-family: 'Roboto', Arial, Sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'), url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'), url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'), url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}


/*
  HEADER AND SLIDER
*/

.logo {
  width: 200px;
  min-height: 70px;
}

.main-header {
  background: #eeeeee;
}

.main-navigation {
  flex-grow: 1;
  text-align: center;
}

.main-navigation ul {
  display: flex;
}

.main-navigation li {
  list-style-type: none;
}

.user-block {
  width: 140px;
  text-align: left;
}

.slider {
  width: 1200px;
  outline: 1px solid red;
}

.slide {
  display: flex;
}

.slide-2, .slide-3 {
  display: none;
}

.slide-text {
  width: 400px;
}

.slide-image {
  width: 760px;
}

.slide-text h2 {
  font-family: 'Robotomedium';
  color: #000000;
  font-size: 55px;
  font-family: Roboto;
}

.container h2 {
  font-family: 'Robotomedium';
  color: #000000;
  font-size: 55px;
  font-family: Roboto;
}


/*
  SERVICE
*/

.service {
  width: 100%;
  display: flex;
  padding: 40px 0;
}

.service-item {
  width: 300px;
  margin-right: 100px
}

.service-item:nth-child(3) {
  margin-right: 0;
}

.service-item h4 {
  font-family: 'Robotobold';
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Roboto;
}

.container h4 {
  font-family: 'Robotobold';
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Roboto;
}

.contacts h4 {
  font-family: 'Robotobold';
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Roboto;
}

.service-item p {
  font-family: 'Roboto';
  font-size: 16px;
}


/*
  ABOUT
*/

.about-left {
  width: 800px;
  font-size: 12px;
}

.about-left h3 {
  font-family: 'Robotomedium';
  color: #000000;
  font-size: 45px;
  font-family: Roboto;
}

.about-left p {
  font-family: 'Roboto';
  font-size: 16px;
}

.about-left li {
  font-family: 'Roboto';
  font-size: 16px;
}

.about-right {
  width: 360px;
  font-size: 12px;
}

.about-right p {
  font-family: 'Roboto';
  font-size: 16px;
}

.block-right {
  width: 360px;
}

.about-right ul {
  display: flex;
  list-style-type: none;
}

.about-right li {
  font-family: 'Roboto';
  font-size: 16px;
  margin-right: 20px;
}

.about-right span {
  font-family: 'Roboto';
  font-size: 45px;
}


/*
  PARTNERS
*/

.partners {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}

.partners a {
  width: 300px;
}

.map {
  width: 100%;
}


/*
catalog
*/

.sort-item ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}


/*
  FOOTER
*/

.main-footer {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}

.ad {
  flex-grow: 1;
  font-size: 12px;
  text-align: left;
}

.networks {
  width: 260px;
}

aside {
  width: 260px;
  margin: 0 100px 0 0;
  display: flex;
}

aside form {
  width: 260px;
}

.main-header h1 {
  width: 100%;
  text-align: center;
}

label {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px
}

.sort-item {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.sort-item ul {
  flex-grow: 1;
}

.catalog {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 360px;
  float: left;
  margin: 20px;
}

.pages {
  width: 100%;
}

.pages ul {
  width: 460px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  list-style-type: none;
}

.ad h3 {
  font-family: 'Robotomedium';
  color: #000000;
  font-size: 45px;
  font-family: Roboto;
}

.ad p {
  font-family: 'Roboto';
  font-size: 16px;
}
