* {
  box-sizing: border-box;
  outline: 1px dashed lightgrey;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  color: black;
  font-size: 200%;
  font-weight: bold;
  font-family: Robotic;
}

h4 {
  color: black;
  font-size: 150%;
  font-weight: bold;
  font-family: Robotic;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}


/*
  HEADER AND SLIDER
*/

.logo {
  width: 200px;
  min-height: 70px;
}

.main-header {
  background: grey;
}

.main-navigation {
  flex-grow: 1;
  text-align: center;
}

.main-navigation ul {
  display: flex;
}

.main-navigation li {
  list-style-type: none;
}

.user-block {
  width: 140px;
  text-align: left;
}

.slider {
  width: 1200px;
  outline: 1px solid red;
}

.slide {
  display: flex;
}

.slide-2, .slide-3 {
  display: none;
}

.slide-text {
  width: 400px;
}

.slide-image {
  width: 760px;
}


/*
  SERVICE
*/

.service {
  width: 100%;
  display: flex;
  padding: 40px 0;
}

.service-item {
  width: 300px;
  margin-right: 100px
}

.service-item:nth-child(3) {
  margin-right: 0;
}


/*
  ABOUT
*/

.about-left {
  width: 800px;
  font-size: 12px;
}

.about-right {
  width: 360px;
  font-size: 12px;
}


/*
  PARTNERS
*/

.partners {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}

.partners a {
  width: 300px;
}

.map {
  width: 100%;
}


/*
  FOOTER
*/

.main-footer {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}

.ad {
  flex-grow: 1;
  font-size: 12px;
  text-align: left;
}

.networks {
  width: 260px;
}

aside {
  width: 260px;
  margin: 0 100px 0 0;
  display: flex;
}

aside form {
  width: 260px;
}

.main-header h1 {
  width: 100%;
  text-align: center;
}

label {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px
}

.sort-item {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

.sort-item ul {
  flex-grow: 1;
}

.catalog {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 360px;
  float: left;
  margin: 20px;
}

.pages {
  width: 100%;
}

.pages ul {
  width: 460px;
  display: flex;
  text-align: center;
}

.pages li {
  list-style-type: none;
}
